<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<%- include ./partials/header.ejs %>
	<h1>Hello</h1>
	<p class="homeText"><%= homeText %></p>
	
	<% post.forEach(pos =>{ %>
		<h1> <%= pos.title %> </h1>
		<p> <%= pos.body.length > 100 ? pos.body.substring(0, 100) + '...' : pos.body %></p>
		<a href="<%= '/posts/' + pos.title %>">Read more</a>
	<%	}) %>

	<%- include ./partials/footer.ejs %>
</body>
</html>
